/*RESET*/
button {
		background: none;
		border: none;
		color: inherit;
		font: inherit;
}

input {
		background: none;
		border: none;
		color: inherit;
		font: inherit;
		height: inherit;
		width: inherit;
}
